<div class="navbar bg-slate-50 shadow-lg  sm:flex items-center sm:w-full w-full">
    <div class="ms-20 w-28">
        <img src="assets/plant logo 1.png">
    </div>
    <div class="container nav-lists mx-auto w-10/12 sm:flex justify-center  ">
        <a href="#" class="me-4 hover:text-green-600 ">Home</a>
        <a href="#" class="me-4 hover:text-green-600  ">Plant Collection</a>
        <a href="#" class="me-4 hover:text-green-600 ">About Us</a>
        <a href="#" class="me-28 hover:text-green-600 ">Contact Us</a>
    </div>
    <div class="ms-20 w-28">
        <img src="assets/plant logo 1.png">
   </div>
</div>
