<div class=" grid grid-cols-2 w-full pt-40 ps-40 pe-40  gap-6">
<div class="info w-full mt-5">
    <h1 class="text-green-700 text-xl font-semibold ">
        Hello to our Plants Caring Website,<br>
         You can now gift someone with his favorite <br>
         plants 
    </h1>
    <p>Discover the joy of plant care with our expert tips,
         detailed guides, and inspiring ideas. Whether you're a seasoned gardener or
          just beginning your green journey,
          we have everything you need to nurture your indoor and outdoor plants with confidence.

    </p>
    <button class="p-3 bg-green-600 rounded-lg text-white mt-5 hover:bg-green-800 duration-75 hover:duration-700">Shop Now</button>
</div>
<div class="bg-opacity-15 p-5 rounded grid grid-cols-3">
    <div>
        <img src="assets/tree 1.png"  alt="">

    </div>
    <div class="mt-5">
        <h1 class="text-green-700 text-lg font-semibold w-full">
          Your Ultimate Guide to Thriving Greenery</h1>

    </div>
    <div>
        <img src="assets/tree_1 1.png" class="h-24" alt="">
    </div>
</div>
</div>